.navbar-width {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: whitesmoke;
    /* border-bottom: 3px black solid; */
    z-index: 4;
}

.navbar-container {
    position: fixed;
    display: inline-block;
    height: 74px;
    width: 80vw;
    left: 10vw;
    z-index: 5;
    top: 50px;
    min-width: 1400px;
    border-bottom: 1px black solid;
    background-color: whitesmoke;
}

.name-title {
    position: absolute;
    text-align: left;
    font-family: 'Josefin Slab';
    color: black;
    bottom: 42px;
    left: 0px;
}

.selection-tabs {
    position: absolute;
    display: flex;
    height: 50px;
    width: 500px;
    right: 165px;
    bottom: 20px;
    font-family: 'Josefin Slab';
    /* border: 1px white solid; */
}

.selection-hover {
    text-decoration: none;
    color: black;
    position: relative;
    font-size: 35px;
    font-family: 'Josefin Slab';
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 20px;
    left: 275px;
}

.selection-hover:hover {
    cursor: pointer;
    opacity: 0.9;
}

.selection-hover:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: center;
}

.selection-hover:hover:before {
    transform: scaleX(1)
}

.icon-hub {
    position: absolute;
    display: flex;
    height: 100px;
    width: 450px;
    top: 50px;
    left: calc((100% - 400px) / 2);
    z-index: 6;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.link-linkedin {
    width: 45px;
    height: 45px;
}

.icon-linkedin {
    z-index: 2;
    height: 45px;
    width: 45px;
    color: black;
}

.link-linkedin:hover {
    cursor: pointer;
    opacity: 0.5;
}

.icon-github {
    position: relative;
    height: 45px;
    width: 45px;
}

.link-github:hover {
    cursor: pointer;
    opacity: 0.5;
}

.link-resume:hover {
    cursor: pointer;
    opacity: 0.5;
}

.icon-resume {
    width: 45px;
    height: 45px;
}

.link-email:hover {
    cursor: pointer;
    opacity: 0.5;
}

.icon-email {
    position: relative;
    top: 2px;
    width: 45px;
    height: 45px;
    z-index: 2;
}