.navbar-width {
    position: fixed;
    width: 100%;
    height: 75px;
    background-color: whitesmoke;
    /* border-bottom: 3px black solid; */
    z-index: 4;
    background-color: whitesmoke;
}

@media only screen and (min-width: 1920px) {
    .navbar-width {
        background-color: transparent;
    }
}

.navbar-container {
    position: fixed;
    display: inline-block;
    height: 85px;
    width: 85vw;
    left: 7.5vw;
    z-index: 5;
    top: 20px;
}

.name-title {
    position: absolute;
    text-align: left;
    font-family: 'Josefin Slab';
    color: black;
    width: auto;
    top: -5px;
    font-size: 2rem;
}

.selection-tabs {
    position: absolute;
    display: flex;
    width: auto;
    font-family: 'Josefin Slab';
    right: 0px;
    top: -10%;
    font-size: 1.4rem;
    /* border: 1px white solid; */
}

.selection-hover {
    display: flex;
    position: relative;
    text-decoration: none;
    color: black;
    font-family: 'Josefin Slab';
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 35px;
    right: 0px;
    z-index: 5;
}

.selection-hover:hover {
    cursor: pointer;
    opacity: 0.9;
}

.selection-hover:before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 25%;
    width: 50%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: all 0.5s;
    transform-origin: center;
}

.selection-hover:hover:before {
    transform: scaleX(1)
}

.icon-hub {
    position: absolute;
    display: flex;
    top: 30px;
    left: -18px;
    height: 40px;
    width: auto;
    z-index: 6;
    flex-wrap: wrap;
    flex-direction: row;
}

.icon {
    width: 18px;
    height: 18px;
    margin: 0 18px;
}

@media only screen and (max-width: 850px) {
    .navbar-width {
        height: 100px;
    }

    .navbar-container {
        position: fixed;
        display: inline-block;
        height: 85px;
        width: 85vw;
        left: 7.5vw;
        z-index: 5;
        top: 20px;
    }

    .selection-tabs {
        position: absolute;
        display: flex;
        font-size: 1.5rem;
        top: 25px;
        height: 50px;
        left: calc(50% - (300px / 2));
        width:  300px;
        justify-content: space-between;
        align-items: right;
        justify-items: right;
        place-items: right;
        /* border: 1px black solid; */
    }

    .about-selection {
        position: relative;
        display: inline-block;
        width: auto;
        right: 150px;
        /* border: 1px black solid; */
        font-size: 1.4rem;
    }

    .projects-selection {
        position: relative;
        display: inline-block;
        width: auto;
        right: 0px;
        font-size: 1.4rem;
        /* border: 1px red solid; */
    }

    .selection-hover {
        position: absolute;
    }

    .selection-hover:before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 20%;
        width: 60%;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        transition: all 0.5s;
        transform-origin: center;
    }
    .icon-hub {
        position: relative;
        display: flex;
        top: -10px;
        left: calc(50% - (265px / 2));
        height: 40px;
        width: 265px;
        z-index: 5;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .name-title {
        display: none;
    }

    .icon {
        width: 30px;
        height: 30px;
    }
}